.container {
	max-width: 960px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	padding: 0.6rem 1.5rem;
	margin-bottom: 0;
	font-size: 1.1rem;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: rgba($color: #333, $alpha: 0.25) 0rem 0.25rem 0.2rem;
}

.btn:hover {
	color: #333;
	text-decoration: none;
}

.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}
