.title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	text-align: center;
}

.flex {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	justify-content: center;
	align-items: center;
}

.list {
	list-style: none;
	text-align: center;
	width: 350px;
	height: 3rem;
	background-color: #fff;
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text {
	font-size: 1.2rem;
	font-weight: bold;
	margin-left: 0.7rem;
}

.deleteButton {
	margin-right: 0.6rem;
	background-color: #fff;
	cursor: pointer;
}
